.page-template-edytuj-dane {
  .dolocz-page {
    background: url('../images/dolacz-tlo.jpg') no-repeat;
    background-size: cover;
    background-clip: border-box;
    padding-top: 100px;
  }
  p {
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #395172;
    padding-bottom: 20px;
  }
  .woo-slg-social-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    .woo-slg-login-wrapper {
      width: 100%;

      .woo-slg-social-login-googleplus {
        background: white;
        color: $theme-grey !important;
      }
      a {
        min-width: 100%;
        border-radius: 10px;
        padding: 10px;
        font-size: 15px;
      }
    }
  }

  .acf-field-message .af-label {
    text-align: center;
    font-weight: 700;

    margin: 10px 0px -18px 0px;
  }
  #gform_4 {
    max-width: 600px;
    .top_label input.medium,
    .ginput_container_password span.medium,
    input {
      min-width: 100%;
    }
    .gchoice_4_5_1,
    .gchoice_4_6_1,
    .gchoice_4_7_1 {
      input {
        min-width: auto;
      }
    }

    #input_4_4_1_container {
      button {
        height: 100%;
        width: 40px;
      }
    }

    li.gfield {
      padding-right: 0px !important;
    }
  }

  .gsection {
    text-align: center;
    font-size: 25px;
    padding-top: 20px !important;
  }

  .gfield_checkbox {
    max-width: 800px;
    margin: 0 auto !important;
  }
  input {
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    border: solid 1px #99b4c9;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .page-header {
    display: none;
  }

  h1 {
    text-align: center;
  }

  // .content {
  //   width: 450px;
  //   height: auto;
  //   margin: 0 auto;
  //   padding: 30px;
  // }

  .nav-pills {
    width: 100%;
  }

  .nav-item-tab {
    width: 50%;
    box-shadow: $shadow;
    border-radius: 30px 30px 0 0;
  }

  .nav-item-tab-right {
    border-radius: 30px 0 0 0;
  }

  .nav-item-tab-left {
    border-radius: 0 30px 0 0;
  }

  .nav-pills .nav-link {
    font-weight: bold;

    padding-top: 13px;
    text-align: center;
    background: #cbcad3;
    color: #5e6278;
    height: 70px;
    box-shadow: inset 0 -12px 10px -13px black;
  }

  .nav-pills .nav-link.active {
    background: #fff;
    color: $theme-orange;

    box-shadow: none;
  }

  .tab-content {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    color: #000;
    z-index: 100;
    box-shadow: $shadow;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 0 0 30px 30px;
  }

  #regis {
    padding: 30px 0px;
  }

  // acf

  // errors
  .custom-error-acf,
  .custom-error-image-acf {
    display: none;
    padding-bottom: 0px;
    margin-bottom: -15px;
  }

  // advance forms
  .acf-url input[type='url'] {
    padding-left: 37px !important;
}

div > div > i:before {
  position:relative; /*or absolute*/
  height: 16px; /*height of image*/
  width: 33px;  /*width of image*/
  position: absolute;
  left: -5px;
}
  // .acf-field-5e386986d60d3 input {
  //   background: url('../images/icons/facebook-icon.png') no-repeat scroll 2px
  //     8px;
  //   display: block;
  //   padding-left: 40px;
  // }
  .acf-field-5e386986d60d3 > div > div > i:before {
    content: url('../images/icons/facebook-icon.png');
}
  .acf-field-5e38721b0b596 > div > div > i:before {
    content: url('../images/icons/instagram.png');
}
  .acf-field-5e3872320b597 > div > div > i:before {
    content: url('../images/icons/youtube.png');
}
  .acf-field-5e3872430b598 > div > div > i:before {
    content: url('../images/icons/snapchat.png');
}
  .acf-field-5e38725c0b599 > div > div > i:before {
    content: url('../images/icons/twitter.png');
}
  .acf-field-5e38726a0b59a > div > div > i:before {
    content: url('../images/icons/linkedin.png');
}

  // kategorie twórczości
  .acf-taxonomy-field {
    .categorychecklist-holder {
      max-height: fit-content;
      max-width: 800px;
      margin: 0 auto;
      border: none;

      ul:before {
        display: none;
      }
    }
    .acf-checkbox-list {
      svg {
        height: 50px;
        width: auto;
        fill: #ff6251;
        border: none;
        padding: 0;
        margin: 5px;
        border-radius: 0;
      }

      input {
        display: none !important;
      }

      span {
        padding: 10px !important;
        display: flex !important;
        flex-direction: column;
        align-content: space-around;
        background: #f3f3f5;
        text-align: center;
        min-width: 130px;
        min-height: 130px;
        border-radius: 20px;

        &:hover {
          background: #5d6278;
          color: white;

          svg {
            fill: white;
          }
        }
      }
    }
    // li[data-id='13'] span:after
    // cagegory

    span:after {
      display: block;
      content: ' ';
      background-size: 70px 70px;
      height: 70px;
      width: 70px;
      margin: 0 auto;
      &:hover {
        color: wheat;
      }
    }

    // checed default
    :checked + span {
      background: $theme-orange !important;

      &:after {
        display: block;
        content: ' ';

        background-size: 70px 70px;
        height: 70px;
        width: 70px;
        margin: 0 auto;
        &:hover {
          color: wheat;
        }
      }

      color: white;
    }

    // icons
    // dom i ogrod
    li[data-id='12'] span:after {
      background-image: url('../images/svg-xxx/ikona-domiogrod.svg');
    }
    li[data-id='12'] span:hover:after {
      background-image: url('../images/svg-white/ikona-domiogrod.svg');
    }
    li[data-id='12'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-domiogrod.svg');
      }
    }

    // ekologi
    li[data-id='11'] span:after {
      background-image: url('../images/svg-xxx/ikona-ekologia.svg');
    }
    li[data-id='11'] span:hover:after {
      background-image: url('../images/svg-white/ikona-ekologia.svg');
    }

    li[data-id='11'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-ekologia.svg');
      }
    }
    // kuchnia
    li[data-id='7'] span:after {
      background-image: url('../images/svg-xxx/ikona-kuchnia.svg');
    }
    li[data-id='7'] span:hover:after {
      background-image: url('../images/svg-white/ikona-kuchnia.svg');
    }
    li[data-id='7'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-kuchnia.svg');
      }
    }
    // kultura
    li[data-id='9'] span:after {
      background-image: url('../images/svg-xxx/ikona-kultura.svg');
    }
    li[data-id='9'] span:hover:after {
      background-image: url('../images/svg-white/ikona-kultura.svg');
    }
    li[data-id='9'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-kultura.svg');
      }
    }
    // LIFESTYLWE
    li[data-id='15'] span:after {
      background-image: url('../images/svg-xxx/ikona-lifestyle.svg');
    }
    li[data-id='15'] span:hover:after {
      background-image: url('../images/svg-white/ikona-lifestyle.svg');
    }
    li[data-id='15'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-lifestyle.svg');
      }
    }
    // moda
    li[data-id='5'] span:after {
      background-image: url('../images/svg-xxx/ikona-moda.svg');
    }
    li[data-id='5'] span:hover:after {
      background-image: url('../images/svg-white/ikona-moda.svg');
    }
    li[data-id='5'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-moda.svg');
      }
    }
    // motoryzacja
    li[data-id='16'] span:after {
      background-image: url('../images/svg-xxx/ikona-motoryzacja.svg');
    }
    li[data-id='16'] span:hover:after {
      background-image: url('../images/svg-white/ikona-motoryzacja.svg');
    }
    li[data-id='16'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-motoryzacja.svg');
      }
    }
    // podruze
    li[data-id='4'] span:after {
      background-image: url('../images/svg-xxx/ikona-podroze.svg');
    }
    li[data-id='4'] span:hover:after {
      background-image: url('../images/svg-white/ikona-podroze.svg');
    }
    li[data-id='4'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-podroze.svg');
      }
    }
    // rozrywka
    li[data-id='14'] span:after {
      background-image: url('../images/svg-xxx/ikona-rozrywka.svg');
    }
    li[data-id='14'] span:hover:after {
      background-image: url('../images/svg-white/ikona-rozrywka.svg');
    }
    li[data-id='14'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-rozrywka.svg');
      }
    }
    // rozwoj
    li[data-id='18'] span:after {
      background-image: url('../images/svg-xxx/ikona-rozwoj.svg');
    }
    li[data-id='18'] span:hover:after {
      background-image: url('../images/svg-white/ikona-rozwoj.svg');
    }
    li[data-id='18'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-rozwoj.svg');
      }
    }
    // sport
    li[data-id='8'] span:after {
      background-image: url('../images/svg-xxx/ikona-sport.svg');
    }
    li[data-id='8'] span:hover:after {
      background-image: url('../images/svg-white/ikona-sport.svg');
    }
    li[data-id='8'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-sport.svg');
      }
    }
    // sztuka
    li[data-id='10'] span:after {
      background-image: url('../images/svg-xxx/ikona-sztuka.svg');
    }
    li[data-id='10'] span:hover:after {
      background-image: url('../images/svg-white/ikona-sztuka.svg');
    }
    li[data-id='10'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-sztuka.svg');
      }
    }
    // technologia
    li[data-id='13'] span:after {
      background-image: url('../images/svg-xxx/ikona-technologia.svg');
    }
    li[data-id='13'] span:hover:after {
      background-image: url('../images/svg-white/ikona-technologia.svg');
    }
    li[data-id='13'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-technologia.svg');
      }
    }
    // uroda
    li[data-id='17'] span:after {
      background-image: url('../images/svg-xxx/ikona-uroda.svg');
    }
    li[data-id='17'] span:hover:after {
      background-image: url('../images/svg-white/ikona-uroda.svg');
    }
    li[data-id='17'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-uroda.svg');
      }
    }
    // zweirzeta
    li[data-id='6'] span:after {
      background-image: url('../images/svg-xxx/ikona-zwierzeta.svg');
    }
    li[data-id='6'] span:hover:after {
      background-image: url('../images/svg-white/ikona-zwierzeta.svg');
    }
    li[data-id='6'] :checked + span {
      &:after {
        background-image: url('../images/svg-white/ikona-zwierzeta.svg');
      }
    }

    // biznes
        li[data-id='19'] span:after {
          background-image: url('../images/svg-xxx/ikona-biznes.svg');
        }
        li[data-id='19'] span:hover:after {
          background-image: url('../images/svg-white/ikona-biznes.svg');
        }
        li[data-id='19'] :checked + span {
          &:after {
            background-image: url('../images/svg-white/ikona-biznes.svg');
          }
        }

            // finanse
        li[data-id='20'] span:after {
          background-image: url('../images/svg-xxx/ikona-finanse.svg');
        }
        li[data-id='20'] span:hover:after {
          background-image: url('../images/svg-white/ikona-finanse.svg');
        }
        li[data-id='20'] :checked + span {
          &:after {
            background-image: url('../images/svg-white/ikona-finanse.svg');
          }
        }

    // kategory end
  }

  // zgody formalne

  #field_1_17,
  #field_2_17,
  #field_4_5 {
    .gchoice_select_all,
    .gchoice_1_17_1,
    .input_17.2,
    .gchoice_2_17_1,
    .input_17.2,
    .gchoice_4_5_1,
    #input_4_5 {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin: 10px !important;
      min-height: 30px !important;
    }

    .gchoice_select_all > span,
    .gchoice_1_17_1 > span,
    .gchoice_1_17_1 > span,
    .gchoice_2_17_1 > span,
    .gchoice_2_17_1 > span {
      color: #34495e;
      padding: 0.5rem 0.25rem;
    }

    .acf-checkbox-list {
      padding: 10px;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      // -o-appearance: none;
      appearance: none;
      border: 1px solid #34495e;
      border-radius: 4px;
      outline: none;
      transition-duration: 0.3s;
      background-color: #f3f3f5;
      cursor: pointer;
    }

    .gchoice_select_all > input:checked,
    .gchoice_1_17_1 > input:checked,
    .gchoice_1_17_2 > input:checked,
    .gchoice_2_17_1 > input:checked,
    .gchoice_2_17_2 > input:checked {
      border: 1px solid #f3f3f5;
      background-color: $theme-orange;
    }

    .gchoice_select_all > input:checked + span::before,
    .gchoice_1_17_1 > input:checked + span::before,
    .gchoice_1_17_2 > input:checked + span::before,
    .gchoice_2_17_1 > input:checked + span::before,
    .gchoice_2_17_2 > input:checked + span::before {
      content: '\2713';
      display: block;
      text-align: center;
      color: #f3f3f5;
      position: absolute;
      left: 0.7rem;
      top: 0.2rem;
    }

    .gchoice_select_all > input:active,
    .gchoice_1_17_1 > input:active,
    .gchoice_1_17_2 > input:active .gchoice_2_17_1 > input:active,
    .gchoice_2_17_2 > input:active {
      border: 2px solid $theme-orange;
    }
  }

  .af-submit-button {
    display: inherit;
    margin: 0 auto;
    border-radius: 0.4rem;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    font-weight: 800;
  }

  .znajdz-toworce-opis {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 360px) {
    // style here
    .nav-pills li a {
      font-size: 18px;
    }
    .acf-checkbox-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 10px;
    }

    .tab-content {
      padding: 0px;
    }
    #regis {
      padding: 30px;
    }
    .af-field-type-url {
      width: 100% !important;
    }
  }

  .zarejestruj-sie #gform_submit_button_4 {
    display: inline-block;
    border-radius: 0.4rem;
    border: solid 2px;
    color: $theme-orange;
    font-size: 1rem;
    transition: all 0.3s;
    position: relative;

    overflow: hidden;
    text-align: center;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 0.4rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $theme-orange;
      transition: all 0.3s;
      border-radius: 0.2rem;
      z-index: -1;
    }
    &:hover {
      color: white;
      background-color: $theme-orange;
      &:before {
        width: 100%;
        cursor: pointer;
      }
    }
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    // style here
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    // style here
    .nav-pills li a {
      font-size: 25px;
    }
    .acf-checkbox-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
      gap: 10px;
    }
    .tab-content {
      padding: 30px;
    }
    .af-field-type-url {
      width: 50% !important;
    }
    .af-field-type-message {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      font-size: 35px;
      margin: 28px 16px 28px 0;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    // style here
  }
}
