.page-template-jak-dzialamy {
  .page-header {
    display: none;
  }

  .image-corner {
    margin-top: 100px;
    right: 0px;
    top: 0px;
    position: absolute;
    width: 50%;
  }
  .corner-image-mobile {
    width: 100%;
    height: auto;
  }

  .jak-dzialamy-intro {
    p {
      font-size: 1.5rem;
    }
  }

  h1 {
    padding: 20px 0;
    font-weight: 800;
    font-size: 3rem;
    color: $theme-dark;
  }

  h2 {
    color: $theme-dark;
    font-size: 2rem;
    padding: 50px 0 20px 0;
  }

  .jak-dzialamy-page {
    background: url('../images/jak-dzialamy-background.jpg') no-repeat;
    background-size: cover;
    background-clip: border-box;
    padding: 100px 0;
  }
  span {
    color: $theme-orange;
  }

  .etapy-wspolpracy {
    background-color: white;
    border-radius: 25px;
    padding: 60px;
    box-shadow: $shadow;

    h3 {
      padding: 15px 0;
    }

    .col-sm-4 img {
      height: 250px;
    }
  }

  .btn-effect {
    margin: 0 auto;
  }

  /*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

  @media (min-width: 1281px) {
    //CSS
    .banner .container {
      display: flex;
    }
  }

  /*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

  @media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
    .banner .container {
      display: flex;
    }
  }

  /*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

  @media (min-width: 768px) and (max-width: 1024px) {
    //CSS
  }

  /*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
  }

  /*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

  @media (min-width: 481px) and (max-width: 767px) {
    //CSS
    .jak-dzialamy-intro {
      p {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    .mobile-size {
      img {
        height: 100px;
        float: right;
      }
      h3 {
        font-size: 25px;
        font-weight: 700;
        color: $theme-blue;
      }
    }
  }

  /*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

  @media (min-width: 320px) and (max-width: 480px) {
    //CSS
    .jak-dzialamy-intro {
      p {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    .etapy-wspolpracy {
      padding: 15px;
    }
  }
  .mobile-size {
    .col-3 img {
      height: 100px;
      float: right;
    }
    h3 {
      font-size: 25px;
      font-weight: 700;
      color: $theme-blue;
    }
  }
}
