.page-template-tworcy {
  .page-header {
    display: none;
  }
  h1 {
    padding: 30px 0;
    text-align: center;
    font-weight: 800;
    color: #395172;
    padding-bottom: 20px;
    font-size: 3rem;
  }
  h2 {
    color: $theme-orange;
    text-align: center;
    font-weight: 800;
    padding: 20px 0 0 0;
  }

  p {
    text-align: center;
  }

  .tworc-page {
    background: url('../images/dolacz-tlo.jpg') no-repeat;
    background-size: cover;
    background-clip: border-box;
    padding: 70px 0 100px 0;

    .image-conteanier {
      width: 100%;
      border: solid 5px white;
      position: relative;
      border-radius: 20px;
      box-shadow: $shadow;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      &:before {
        content: '';
        float: left;
        padding-top: 100%; /* initial ratio of 1:1*/
      }
    }

    &:hover {
      border: $theme-orange;
    }
  }

  .col-sm-4 {
    &:hover {
      cursor: pointer;
      .image-conteanier {
        width: 100%;
        border: solid 5px $theme-orange;
        border-radius: 20px;
      }

      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  // .podroze {
  //   mask-image: url('../images/svg-xxx/ikona-podroze.svg');
  // }
  // .moda {
  //   mask-image: url('../images/svg-xxx/ikona-moda.svg');
  // }
  // .zwierzęta {
  //   mask-image: url('../images/svg-xxx/ikona-zwierzeta.svg');
  // }
  // .kuchnia {
  //   mask-image: url('../images/svg-xxx/ikona-kuchnia.svg');
  // }
  // .sport {
  //   mask-image: url('../images/svg-xxx/ikona-sport.svg');
  // }
  // .kultura {
  //   mask-image: url('../images/svg-xxx/ikona-kultura.svg');
  // }
  // .sztuka {
  //   mask-image: url('../images/svg-xxx/ikona-sztuka.svg');
  // }
  // .ekologia {
  //   mask-image: url('../images/svg-xxx/ikona-ekologia.svg');
  // }
  // .ogród {
  //   mask-image: url('../images/svg-xxx/ikona-domiogrod.svg');
  // }
  // .technologia {
  //   mask-image: url('../images/svg-xxx/ikona-technologia.svg');
  // }
  // .rozrywka {
  //   mask-image: url('../images/svg-xxx/ikona-rozrywka.svg');
  // }
  // .lifestyle {
  //   mask-image: url('../images/svg-xxx/ikona-lifestyle.svg');
  // }
  // .motoryzacja {
  //   mask-image: url('../images/svg-xxx/ikona-motoryzacja.svg');
  // }
  // .uroda {
  //   mask-image: url('../images/svg-xxx/ikona-uroda.svg');
  // }
  // .rozwój {
  //   mask-image: url('../images/svg-xxx/ikona-rozwoj.svg');
  // }
}
