.pagination-tworcy{
  margin: 0 auto;
}


.pagination-tworcy-kategorie{
  display: flex;
  justify-content: center;


}

.pagination-tworcy, .pagination-tworcy-kategorie{
  margin-top: 20px;
  .page-numbers{
    padding: 5px 10px;
    box-shadow: 1px 2px 18px 5px #1312121c;
    &:hover {
      color: white;
      background-color: $theme-orange;
    }
  }

  .current{
    padding: 5px 10px;
    border: solid 2px  $theme-orange;
    box-shadow: 1px 2px 18px 5px #1312121c;

    &:hover {
      color: black;
      background-color: white;
    }
  }
}
