//icons
.social {
  display: flex;
  gap: 10px;
  margin-right: -15px;

  .icon {
    margin-right: 15px;
  }
}

svg {
  height: 50px;
  fill: $theme-orange;
  border: solid 2px $theme-orange;
  border-radius: 50%;
  padding: 6px;
}
