footer {
  background-color: $theme-blue;
  padding: 35px 0;
  color: white;

  .footer-bottonm {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .row {
      width: 100%;
    }

    .social {
      margin-top: 10px;
      justify-content: center;
    }
  }

  #menu-footer {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0;
    padding-inline-start: 0;

    li {
      padding-right: 10px;

      a {
        color: white;
        font-size: rem(18px);
        font-weight: $bold-r;
      }

      a:hover {
        color: $theme-orange;
      }
    }

    li::after {
      content: ' | ';
      padding-left: 10px;
    }

    li:last-child::after {
      display: none;
    }
  }
}
// socket area
.socked-area {
  background-color: $theme-blue-dark;
  padding: 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .row {
    width: 100%;
    align-items: center;
  }
  span {
    color: #898c9b;
    font-size: rem(15px);
  }
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* old phones (landscape phones, 360px and up) */
@media (min-width: 360px) {
  .menu-footer-container {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  //code here
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #menu-footer {
    justify-content: flex-start;
  }
  .footer-bottonm {
    .social {
      margin-top: 0px;
      justify-content: flex-end !important;
    }
  }

  .fols-part {
    display: flex;
    justify-content: flex-end;
  }
  .menu-footer-container {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  // code hehe
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  // code hehe
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
  // code hehe

  .mobilie-justyfy {
    display: flex;
    justify-content: center;
  }
  #menu-footer {
    li {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
}
