.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  position: fixed;
  width: 100%;
  padding: 10px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-primary {
    display: flex;
    align-items: center;

    svg {
      height: 30px;
      padding: 1px;
    }
  }
}
