.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background: white;
  z-index: 999;

  .current_page_item {
    border-bottom: solid $theme-orange;
  }
  .nav a {
    color: black;
  }
  .nav a:focus,
  .nav a:hover {
    color: $theme-orange;
    background-color: #ebebeb !important;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-primary {
    display: flex;
    align-items: center;

    svg {
      height: 30px;
      padding: 1px;
    }
  }
}

.page-header {
  display: flex;
  justify-content: center;
}
