// @import '_mixins.scss';
@import '_rem.scss';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: $theme-blue;
}

.fade {
  background: #2a2f4cd9;
}

p {
  color: #797c8e;
  font-size: rem(18px);
}
h1 {
  font-size: rem(54px);
}
a {
  color: $theme-orange;
}

a:hover {
  color: $theme-orange;
}

.theme-orange-color {
  color: $theme-orange;
}

.theme-blue {
  color: $theme-blue;
}

.container-fluid {
  padding: 0;
}

.category-area {
  display: flex;
}

.category-box {
  background-color: $theme-orange;
  padding: 0 10px;
  margin: 0 3px 10px 3px;
  height: 75px;
  color: white;
  text-align: center;
  font-size: 13px;
  z-index: 9;

  .box-item {
    padding: 0px 20px;
    mask-size: 49px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: white;
    height: 50px;
    min-width: 75px;
  }
}

//biznes
.biznes {
  mask-image: url('../images/svg-xxx/ikona-biznes.svg');
}
#label_6_9_8:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-biznes.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}

//finance
.finanse {
  mask-image: url('../images/svg-xxx/ikona-finanse.svg');
}

// podroze
.podróże {
  mask-image: url('../images/svg-xxx/ikona-podroze.svg');
}
#label_6_9_8:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-podroze.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.moda {
  mask-image: url('../images/svg-xxx/ikona-moda.svg');
}
#label_6_9_6:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-moda.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.zwierzęta {
  mask-image: url('../images/svg-xxx/ikona-zwierzeta.svg');
}
#label_6_9_16:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-zwierzeta.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.kuchnia {
  mask-image: url('../images/svg-xxx/ikona-kuchnia.svg');
}
#label_6_9_3:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-kuchnia.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.sport {
  mask-image: url('../images/svg-xxx/ikona-sport.svg');
}
#label_6_9_12:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-sport.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.kultura {
  mask-image: url('../images/svg-xxx/ikona-kultura.svg');
}
#label_6_9_4:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-kultura.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.sztuka {
  mask-image: url('../images/svg-xxx/ikona-sztuka.svg');
}
#label_6_9_13:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-sztuka.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.ekologia {
  mask-image: url('../images/svg-xxx/ikona-ekologia.svg');
}
#label_6_9_2:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-ekologia.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.ogród {
  mask-image: url('../images/svg-xxx/ikona-domiogrod.svg');
}
#label_6_9_1:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-white/ikona-domiogrod.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    background-image: url('../images/svg-white/ikona-domiogrod.svg');
  }
}

.technologia {
  mask-image: url('../images/svg-xxx/ikona-technologia.svg');
}
#label_6_9_14:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-technologia.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.rozrywka {
  mask-image: url('../images/svg-xxx/ikona-rozrywka.svg');
  margin-left: 2px !important;
}
#label_6_9_9:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-rozrywka.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.lifestyle {
  mask-image: url('../images/svg-xxx/ikona-lifestyle.svg');
}

#label_6_9_5:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-lifestyle.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.motoryzacja {
  mask-image: url('../images/svg-xxx/ikona-motoryzacja.svg');
}
#label_6_9_7:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-motoryzacja.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.uroda {
  mask-image: url('../images/svg-xxx/ikona-uroda.svg');
}
#label_6_9_15:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-uroda.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}
.rozwój {
  mask-image: url('../images/svg-xxx/ikona-rozwoj.svg');
}
#label_6_9_11:after {
  display: block;
  content: ' ';
  background-image: url('../images/svg-xxx/ikona-rozwoj.svg');
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  &:hover {
    color: wheat;
  }
}

.image-contanier-bacground {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #232941;
  background: linear-gradient(180deg, rgba(9, 9, 121, 0) 50%, #232941 120%);
  border-radius: 20px;
}

.page-weryfikacja-data {
  #form_5e5143d80de43 {
    display: none;
  }
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* old phones (landscape phones, 360px and up) */
@media (min-width: 360px) {
}

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  //code here
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  // code hehe
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  // code hehe
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
  // code hehe
}
