/** Import Bootstrap functions */
@import '~bootstrap/scss/functions';

$theme-colors: (
  primary: #525ddc,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$theme-blue: #2b304e;
$theme-blue-dark: #232941;
$theme-dark: #394f72;
$theme-orange: #ff6251;
$theme-grey: #797c8e;
$theme-background: #f7f7f7;
$shadow: 1px 2px 18px 5px #1312121c;

$medium-r: 500;
$bold-r: 700;
$extra-bold-r: 800;
$black-r: 900;
